<template>
  <div class="home">
    <div>
      <img src="@/assets/logo.jpg" width="50%">
    </div>
    <button @click="showAddElement=!showAddElement">Add Keynote</button>
    <keynote
      :hour="keynote.hour"
      :title="keynote.title"
      :summary="keynote.summary"
      :authors="keynote.authors" v-for="(keynote, index) in orderKeynotes" :key="index"/>

    <addElement :show="showAddElement" @ok="insertElement" @cancel="cancelAddElement"></addElement>
  </div>
</template>

<script>
// @ is an alias to /src
import keynote from '@/components/Keynote'
import addElement from '@/components/AddElement'

export default {
  name: 'home',
  components: {
    keynote,
    addElement
  },
  data () {
    return {
      showAddElement: false,
      keynotes: []
    }
  },
  computed: {
    orderKeynotes () {
      var order = this.keynotes.slice()
      order.sort((a, b) => {
        var partsHourA = a.hour.split(':')
        var partsHourB = b.hour.split(':')
        var hour1 = parseInt(partsHourA[0])
        var minute1 = parseInt(partsHourA < 1 ? 0 : partsHourA[1])
        var hour2 = parseInt(partsHourB[0])
        var minute2 = parseInt(partsHourB < 1 ? 0 : partsHourB[1])
        if (hour1 < hour2) return -1
        if (hour1 > hour2) return 1
        if (minute1 < minute2) return -1
        if (minute1 > minute2) return 1
        return 0
      })
      return order
    }
  },
  methods: {
    cancelAddElement () {
      this.showAddElement = false
    },
    insertElement (element) {
      this.keynotes.push(element)
      this.showAddElement = false
    }
  }
}
</script>
<style scoped>

</style>
