<template>
  <div id="myModal" class="modal" :class="{ 'show' : show }">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" @click="cancel()">&times;</span>
      <form v-on:submit='submit'>
        <input type="text" v-model="element.hour" placeholder="Hora (HH:mm)" required pattern="[0-9]{2}:[0-9]{2}">
        <input type="text" v-model="element.title" placeholder="Titulo" required>
        <textarea v-model="element.summary"></textarea>
        <input type="text" v-model="input.authors" placeholder="usuario1#href1;usuario2#href2">
        Autores a engadir:
        {{element.authors}}
        <input type="submit" value="Add Element"/>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'addElement',
  props: ['show'],
  data () {
    return {
      input: {
        authors: ''
      },
      element: {}
    }
  },
  mounted () {
    this.initElement2Save()
  },
  computed: {
    details () {
      return this.showDetail ? 'Ocultar' : 'Ver más'
    }
  },
  methods: {
    initElement2Save () {
      this.element = {
        hour: '',
        title: '',
        summary: '',
        authors: []
      }
    },
    cancel () {
      this.$emit('cancel', {})
      this.initElement2Save()
    },
    submit (event) {
      event.preventDefault()
      this.$emit('ok', Object.assign({}, this.element))
      this.initElement2Save()
    }
  },
  watch: {
    'input.authors' (newValue) {
      this.element.authors = newValue.length === 0 ? [] : newValue.split(';').map(user => {
        var parts = user.split('#')
        return {
          name: parts[0] || 'Not name',
          href: parts[1] || undefined
        }
      })
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.show {
  display: block;
}

</style>
