<template>
  <div>
    <h1 class="title">{{hour}} - {{ title }}</h1>
    <div class="detail" v-show="showDetail">
      <p>
        {{summary}}
      </p>
      <div v-if="authors.length>0">
      <span class="bold">Ponentes: </span>
      <span v-for="(author, index) in authors" :key="index" class="item">
        <span>
          <a :href="author.href" target="_blank">{{author.name}}</a>
        </span>
      </span>
      </div>
    </div>
    <span v-if="authors.length>0 || !!summary" class="pointer" @click="showDetail=!showDetail">{{details}}</span>
  </div>
</template>

<script>
export default {
  name: 'keynote',
  props: {
    hour: String,
    title: String,
    summary: String,
    authors: Array
  },
  data () {
    return {
      showDetail: false
    }
  },
  computed: {
    details () {
      return this.showDetail ? 'Ocultar' : 'Ver más'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.title {
  font-weight: bold;
  color: blue;
}

.bold {
  font-weight: bold;
}

.item + .item:before {
  content: ", ";
}
</style>
